
extends index
block content
  .titleImage.col-md-6
    h1= book.title
    img(src=`${book.image_url}`)
  .authorGenreDescription.col-md-6
    h2 Authors
    for author in authors
      p= author.name
    h2#genres Genres
    for genre in genres
      p= genre
    h2#description Description
    p= book.description
