extends index
block content
  h1 Welcome to the Library
  table
    thead
      tr
        th
        th Title
        th Description
        th Authors
        th Genres
    tbody
      for book in books
        tr
          td
            a(href=`/${book.id}`)
              img(src=`${book.image_url}`)
          td
            a(href=`/${book.id}`)= book.title
          td= (book.description || 'Description not available.')
          td
            ul
              for author in book.authors
                li= author.name
          td
            ul
              for genre in book.genres
                li= genre.name

    br
    if page > 1
      a(href='/?page='+(page-1)) Previous
    br
    if !lastPageFlag
      a(href='/?page='+(page+1)) Next
