mixin booklist(adminFlag)
  table.table.table-striped
    thead
      tr
        if adminFlag
          th
        if books.length !== 0
          th
          th Title
          th Description
          th Authors
          th Genres
    tbody
      for book in books
        tr
          if adminFlag
            td
              ul
                li
                  a.btn.btn-warning(href=`/admin/edit/${book.id}`) Edit
                li
                  a.btn.btn-danger(href=`/admin/delete/${book.id}`) Delete
          td
            a(href=`/${book.id}`)
              img(src=(book.image_url || 'http://williamwoods.ecampus.com/Content/img/book_stack.png'))
          td
            a(href=`/${book.id}`)= book.title
          -if (!book.description) {book.description = 'Description not available.'}
          td= book.description.slice(0, 200).concat('...')
          td
            ul
              for author in book.authors
                li= author.name
          td
            ul
              -genreNames = book.genres.map( genre => genre.name )
              -genreNames = genreNames.filter( (element,index,array) => !array.slice(0,index).includes(element) )
              for genreName in genreNames
                li= genreName


doctype html
html
  head
    title Book Store
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
    link(rel="stylesheet" type="text/css" href="/stylesheets/style.css")
  body
    nav.navbar-default.container
      ul.nav.navbar-nav
        if !adminFlag
          li.nav-item.active
            a.nav-link(href="/") Home
          li.nav-item
            a.nav-link(href="/admin") Admin
        if adminFlag
          li.nav-item
            a.nav-link(href="/") Home
          li.nav-item.active
            a.nav-link(href="/admin") Admin
      form.navbar-form.pull-right(method="get" action=adminFlag ? "/admin" : "/search")
        input.form-control(type="text" placeholder="Search Books..." name="options")
        button.btn.glyphicon.glyphicon-search(type="submit" value="Search")
    .container
      block content

    script(src="https://code.jquery.com/jquery-3.1.1.js", integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=", crossorigin="anonymous")
    script(src="/javascripts/main.js")
